@inject ToastService ToastService
@implements IDisposable

<div class="toast-container">
    @foreach (var toast in ToastService.Toasts)
    {
        <div class="toast toast-@toast.Level.ToString().ToLowerInvariant()">
            <span class="toast-message">@toast.Message</span>
            <button class="toast-close" @onclick="() => ToastService.Remove(toast.Id)">&times;</button>
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        ToastService.OnChange += OnToastChanged;
    }

    private void OnToastChanged() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        ToastService.OnChange -= OnToastChanged;
    }
}
